body {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--button-text-color);
    font-size: 14px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
* {
    padding: 0;
}
.link {
    text-decoration: none;
    font-family: inherit;
}
ul {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --button-text-color: #ffffff;
    --accent-color: #2196f3;
    --hero-color: #2f303a;
    --back-color:#f5f4f2;
    --logo-color:#000;
    --but-color: #188CE8;
}

  /* Navigatzion */
.headr {
    background-color: var(--button-text-color);
    border-bottom: 1px solid #ececec;
}
.header-title .container {
    border-width: 0 0 1px 0;
}
.link-webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-web {
    color: var(--accent-color);
  
    font-weight: 700;
}
.logo-studio {
    color: var(--logo-color);
  
    font-weight: 700;
}
.logo-studiow {
    color: var(--button-text-color);
}
.nav-studio,
.nav-portfolio {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    font-weight: 500 ;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link{
    display: block;
    color: var(--secondary-text-color);
}
  .auth-nav .link {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.site-nav .current {
    color: var(--accent-color);
}
.site-nav a:hover,
.site-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
}
  


.hero {
    background-color: var(--hero-color);
    text-align: center;
}
.section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
.hero-title {
    margin: auto;
    margin-bottom: 30px;
    color: var(--button-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    width: 692px;
}
.button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    color: var(--button-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
}
.button:hover,
.button:focus{
      background-color: var(--but-color);
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section.advantages {
    padding-bottom: 0;
}

.title {
    color: var(--secondary-text-color);
}
.advantages-list {
    display: flex;
}
.advantages-list > .item:not(:last-child) {
    margin-right: 30px;
}
.advantages-list > .item {
    width: calc((100%-120px) / 4);
}
.advantages-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
}
.work-list-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}
.title-list {
    color: var(--primary-text-color);
}
.advantages-text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.work-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}
.what-wedo {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}
  
.what-wedo-list {
    display: flex;
}
h2.what-wedo {
    margin-bottom: 50px;
}
.what-wedo .link {
    display: block;
}
.what-wedo-list > .item:not(:last-child) {
    margin-right: 30px;
}
.what-wedo-list > .item {
    width: 370px;
}

.team {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.section {
    padding: 94px 0;
}
.section.color {
    background-color: var(--back-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-list {
    display: flex;
}
.team-list > .item {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--button-text-color);
}
.team-list .item-about {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list > .item.item:not(:last-child) {
    margin-right: 30px;
}
.team-title-list {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

  
.adress a {
    font-style: normal;
}
  
.footer-webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
  
a.footer-webstudio {
    display: block;
    margin-bottom: 20px;
}
  
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-color);
}
  
.adress .adress-town {
    display: block;
    color: var(--button-text-color);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
  
.adress .adress-mail {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.adress .adress-tel {
    color: rgba(255, 255, 255, 0.6);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.adress-info{
    margin-bottom: 9px;  
}
  
.adress-town:hover,
.adress-town:focus,
.adress-tel:hover,
.adress-tel:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress:hover {
    color: var(--accent-color);
}
  /* portfolio.html */
.filter-list {
    border-radius: 4px;
    color: var(--secondary-text-color);
    background-color: var(--back-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
}
.item1{
    padding: 6px 25px;
}
.item2{
    padding: 6px 22px;
  
}
  
  
.filter .item:not(:last-child) {
    margin-right: 8px;
}
  
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list:hover,
.filter-list:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}
  
/* work list */
  
.work-list-title {
    margin-bottom: 4px;
}
  
  
.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
  
.works-list > .item {
    flex-basis: calc((100% - 60px) / 3) ;
    
}

.work-list-about {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
    border-width: 0 1px 1px 1px;
    
}

.works-list img{
    display:block;
}